/*----------------page-container----------------*/

.page-container {
  height: 100vh;
}

.page-container .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-container .theme.chiller-theme {
  background: #1e2229;
}

/*--------------------------page-content-----------------------------*/

.page-container .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0;
  padding-top: 20px;
}

.page-container .page-content > div {
  padding: 20px 40px;
}

.page-container .page-content {
  overflow-x: hidden;
}
