
/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0 none #ffffff;
  border-radius: 33px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525965;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-container {
  background: #31353d;
}

.chiller-theme .sidebar-container .sidebar-header,
.chiller-theme .sidebar-container .sidebar-search,
.chiller-theme .sidebar-container .sidebar-menu {
  border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-container .sidebar-search input.search-menu,
.chiller-theme .sidebar-container .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-container .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-container .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-container .sidebar-search input.search-menu,
.chiller-theme .sidebar-container .sidebar-search .input-group-text,
.chiller-theme .sidebar-container .sidebar-brand > a,
.chiller-theme .sidebar-container .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
  color: #818896;
}

.chiller-theme .sidebar-container .sidebar-menu ul li:hover > a,
.chiller-theme .sidebar-container .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-container .sidebar-header .user-info,
.chiller-theme .sidebar-container .sidebar-brand > a:hover,
.chiller-theme .sidebar-footer > a:hover i {
  color: #b8bfce;
}

.page-container.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-container.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.chiller-theme .sidebar-container ul li:hover a i,
.chiller-theme .sidebar-container .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-container .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-container .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0 0 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-container .sidebar-menu ul li a i,
.chiller-theme .sidebar-container .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-container .sidebar-search input.search-menu,
.chiller-theme .sidebar-container .sidebar-search .input-group-text {
  background: #3a3f48;
}

.chiller-theme .sidebar-container .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer > a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer > a:last-child {
  border-right: none;
}
